.button {
    width: 100%;
}

.middle_profile_menu {
    padding: 5px;
    margin-left: 1px;
}

.home_menu {
    padding: 0px 15px 0px 15px;
    margin-left: 1px;
}

.margin_top {
    margin-top: 20px;
}